<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
	<div class="starter-template">
		<h2>
			TweetCrunch lets you do sentiment analysis and profanity analyslis on latest tweets.
		</h2>
		<p class="lead">
			TweetCrunch - <i>collects, analyzes, displays</i> - on-the-fly, making this an invaluable tool to know the live pulse of any hashtag.
		</p>
	</div>
</div>
<div class="starter-template" >
		<p>
			<a class="btn btn-primary btn-lg" href="{{ url_for('crunch')}}">Crunch Now!</a>
		</p>
	</div>
{% endblock %}
